.logo-transport {
  border-radius: 50%;
  padding: 15px;
}

.arrow {
  border-radius: 50%;
  opacity: 0.5;
  padding: 10px;
}


.discount-img,
.banner-img {
  width: 100%;
}

.dest-img {
  width: 100%;
}